body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f7;
  }
  
  header {
    background: #0a3d62;
    padding: 18px;
    color: white;
    text-align: center;
  }
  
  nav {
    background: #074267;
    padding: 10px;
    text-align: center;
  }
  
  nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    color: #ffeaa7;
  }
  
  .container {
    width: 85%;
    margin: auto;
    padding: 20px;
  }
  
  .hero {
    background: #0a3d62;
    padding: 80px;
    text-align: center;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .btn {
    background: #ff9f43;
    padding: 12px 20px;
    color: black;
    text-decoration: none;
    border-radius: 8px;
  }
  
  form input, form textarea, form select {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  form button {
    background: #0a3d62;
    color: white;
    padding: 12px 20px;
    width: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  footer {
    margin-top: 40px;
    background: #0a3d62;
    padding: 20px;
    text-align: center;
    color: white;
  }
  